@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

//list style
ul, ol{
  list-style: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $base-font-family;
  background-color: white;
  color: $base-font-color;
  @include outer-container(980px);
}

.header-static{
  display: block;
  height: 50px;
  background-color: $very-light-gray;
  color: black;
  border-bottom: 1px solid $medium-gray;
}

.header-static span{
  margin-left: 10px;
}

.header-static a:hover,
span:hover {
  color: $blue;
}

a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  margin-top: -20px;
  margin-left: 10px;
}

.site-search-form{
  border-radius: 4px;
  border: 1px solid $light-gray;
  width: 300px;
  vertical-align: middle;

}

.nav-links{
  text-align: center;
  vertical-align: middle;
  margin-top: -17px;
}

.profile-options{
  text-align: right;
  vertical-align: middle;
  margin-top: -21px;
}


.sidebar{
  @include outer-container;
  @include span-columns(3);
  margin-top: 50px;
}

img{
  height: 230px;
  width: 230px;
  border-radius: 7px;
  padding: 0;
  margin-top: -30px;
}

.name{
  margin-top: 0px;
}

.login{
  color: $medium-gray;
  font-weight: lighter;
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
  border-bottom: 1px solid $light-gray;
}

.attributes h6{
  display: inline;
  color: black;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

.attributes .location{
  margin-left: 6px;
}

.attributes .octicon{
  color: $light-gray;
  margin: 0 3px 5px -38px;
}

.attributes{
  padding-bottom: 20px;
  border-bottom: 1px solid $light-gray;
}

.numbers{
  display: inline-block;
  color: $blue;
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $light-gray;
}

.followers{
  margin-left: 30px;
}

.starred{
  //still need to format this...as zero
}

.following{
  margin: -55px 0 0 100px;
}

.numbers span{
  display: block;
  font-size: 10px;
  color: $light-gray;
  font-weight: normal;
  margin-left: -18px;
}

.numbers span:hover{
  color: $blue;
}

.main {
  @include outer-container;
  @include span-columns(8);
  margin-top: 50px;
}

.repo-name{
  color: $blue;
}
